* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
.show_nav {
  height: 100vh;
  left: 0;
  top: 0;
  width: -100%;
  width: 320px;
  transition: all 1000ms ease-in;
  z-index: 100;
  padding: 50px 20px;
  position: fixed;
  background-color: aquamarine;
}
.hide_nav {
  position: absolute;
  height: 100vh;
  left: -100%;
  top: 0;
  transition: all 1000ms ease-in;
}
