* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
.show_nav {
  height: 100vh;
  left: 0;
  top: 0;
  width: -100%;
  width: 320px;
  transition: all 300ms linear;
  z-index: 100;
  padding: 50px 20px;
  position: fixed;
  background-color: aquamarine;
}
.hide_nav {
  position: absolute;
  height: 100vh;
  left: -100%;
  top: 0;
  transition: all 300ms linear;
}
/* cards */
.card_hover_1:hover {
  background: #011a14 !important;
  transition: all 300ms ease-in;
  transform: scale3d(2px);
}
/*   */
.box_custom {
  height: 400px;
  width: 100%;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 16px;
  border: 4px solid transparent;
}
